.App {
  text-align: center;
  background-image: url("./spring.jpg");
  background-position: center;
  min-height: 700px;
}
.App input,
.App button {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: #fff;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.App button {
  cursor: pointer;
}
.App button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
